* {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--bg);
  color: var(--text);
}

.main-container {
  display: flex;
  flex: 1;
  overflow: hidden;
}
